:root {
    --brand-name: "Project Name";
    --color-primary: #2e3192;
    --color-primary-dark: #242674;
    --color-primary-light: #4448c5;
    --color-accent: #f26f22;
    --color-accent-dark: #cf5b18;
}
